$tarawera: #063149;
$orient: #004F7C;


$brightTurqoise: #00B0FF;
$frenchPass:  rgba($brightTurqoise, 0.4);
$mabel: rgba($brightTurqoise, 0.1);

$grey: #848484;
$dustyGrey: #999999;
$silverChalice: #9C9C9C;


$gold:  #FFB300;